@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body{
	font-family: 'Lora', serif;
	font-size: 18px;
}

h1,h2,h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color:black;
}

@media (max-width:760px) {
	.container {
		width:600px;
	}
}

@media (max-width:500px) {
	.container {
		width:400px;
	}
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
	padding: 20px;
}
.card img {
  width: 150px;
}
.card h3 {
  flex-grow: 1;
  padding-left: 20px;
}

.cards {
  display: flex;
	flex-wrap: wrap;
}
.card{
  flex-basis: 250px;
	flex-grow: 1;
	margin: 10px;
}

/* CSS */
.card {
    background-color: #fff;
    border-radius: 4px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    overflow: hidden;
    border: 1px solid #ddd; /* Add border */
    padding: 20px; /* Adjust padding */
}

/* Card image */
.card img {
    width: 30%;
    height: auto;
}

/* Card title */
.card h3 {
    font-size: 18px; 
    color: #333;
    margin-bottom: 8px; 
}

/* Button */
.btn-blue {
    display: inline-block;
    padding: 8px 16px; 
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}




